.heading{
    text-align: center;

}
.container{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto 0px;
}
.button{
    padding: 20px;
    margin:0px 2px;
    border:2px solid black;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    font-size: 1.1rem;
    color:white;
    background-color: black;
}
.row{
    margin:8px 0px;
}

.button:active{
    background-color:rgb(76, 76, 76);
    color: rgb(0, 0, 0);
}
.row input{
    margin: 0px;
    padding: 15px 19px;
    border: 2px solid black;
    border-radius: 11px;
    outline:none;
    font-size: 1.0rem;
    text-align:center;
}

